.App {
    text-align: center;
}

.list {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todoDiv {
    width: 200px;
    height: 5vh;
    text-align: center;
    background: lightskyblue;
    color: black;
    margin-top: 5%;
}

.todoP {
    padding: 5% 0;
}

.completed {
    text-decoration: line-through;
    background: pink;
}